/* Page Background */
.login-wrapper {
  min-height: calc(100vh - 70px);
  background: linear-gradient(135deg, #1976d2, #1565c0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

/* Login Box */
.login-box {
  background: rgba(255, 255, 255, 0.15);
  padding: 35px;
  width: 350px;
  border-radius: 16px;
  backdrop-filter: blur(12px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  gap: 18px;
  animation: fadeIn 0.6s ease-in-out;
}

/* Heading */
.login-wrapper h1 {
  position: absolute;
  top: 40px;
  font-size: 34px;
  font-weight: 700;
  color: white;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

/* Inputs */
.login-box input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.7);
}

/* Login Button */
.login-box button {
  padding: 12px;
  width: 100%;
  background: #1976d2;
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.login-box button:hover {
  background: #1565c0;
  box-shadow: 0px 0px 12px rgba(0, 85, 255, 0.6);
}

/* Fade Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
