.search-wrapper {
  padding: 40px 20px;
  font-family: "Poppins";
  background: #f5f5ff;
  min-height: 100vh;
}

.search-title {
  text-align: center;
  font-size: 36px;
  color: #4f46e5;
  font-weight: 700;
  margin-bottom: 20px;
}

/* Search Box */
.search-box {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 85%;
  max-width: 850px;
  margin: auto;
  display: flex;
  gap: 15px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.15);
}

.search-box input {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #aaa;
  font-size: 15px;
  outline: none;
}

.search-box button {
  padding: 12px 22px;
  border: none;
  background: #4f46e5;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.search-box button:hover {
  background: #372fd3;
}

/* No Results */
.no-results {
  text-align: center;
  margin-top: 25px;
  color: #555;
}

/* Bus Results */
.bus-results {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 22px;
  padding: 10px;
}

.bus-card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #dcdcdc;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.bus-card:hover {
  transform: translateY(-5px);
}

.bus-name {
  color: #4f46e5;
  font-size: 22px;
  margin-bottom: 8px;
}

.route {
  font-size: 17px;
  color: #444;
  margin-bottom: 10px;
}

.book-btn {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  border: none;
  background: #4f46e5;
  color: white;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.book-btn:hover {
  background: #372fd3;
}

/* Animations */
.animated-search {
  animation: fadeInUp 0.8s ease;
}

.animated-card {
  animation: fadeIn 0.8s ease;
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(25px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.loading {
  margin-top: 25px;
  text-align: center;
  color: #4f46e5;
  font-weight: 600;
  font-size: 22px;
}
