.auth-wrapper {
  min-height: 100vh;
  background: linear-gradient(135deg, #4f46e5, #9333ea);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  padding: 20px;
}

.auth-card {
  background: white;
  padding: 35px;
  width: 380px;
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.25);
  text-align: center;
}

.auth-card h2 {
  font-size: 32px;
  color: #4f46e5;
  margin-bottom: 10px;
}

.auth-sub {
  margin-bottom: 20px;
  color: #555;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 10px;
  border: 1px solid #aaa;
  outline: none;
  font-size: 16px;
}

.auth-card button {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-card button:hover {
  background: #3b34c5;
}

.auth-switch {
  margin-top: 15px;
}

.auth-switch a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: bold;
}

.animated-auth {
  animation: fadeUp 0.8s ease;
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
